.App {
  background-color: black;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  width: 90%;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: relative;
  box-shadow: inset 0px 0px 10px 8px rgba(255, 255, 255, 1.0);

}
/*NAVIGATION START*/
.nav {
  display: flex;
  position: absolute;
  top: 5%;
  right: 25%;
  z-index: 2;
}
.nav div {

}
.active {
   border-bottom: #004369 1px solid;
}
#link {
  text-decoration: none;
  padding: 6px;
  margin: 6px;
  color: ghostwhite;
}
#link:hover {
  border-bottom: #E7F6FC 1px solid;
  color: rgba(165,207,227);
}
.donotshowroutes {
  display: none;
}

/*NAVIGATION END*/

/*HOME START*/

.home {
  display: flex;
  align-items: center;
}
.left-column {
  position: relative;
  background-color: black;
  z-index: 1;
  margin-left: 150px;
}
.infocontainer {
  height: 600px;
  width: 500px;
  background-color: rgba(231,246,252, .111);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 0px 0px 20px 3px rgba(255, 255, 255, 1.0);
}
.logo {
  max-height: 250px;
  max-width: 250px;
  min-width: 150px;
  min-width: 150px;
}
.skillbubbles {
  display: flex;
  justify-content: center;
}

.skillbubble {
 height: 30px;
 width: 100px;
 background-color: #E7F6FC;
 margin: 10px;
 padding-right: 5px;
 padding-left: 5px;
 border-radius: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: black;
 font-size: .8rem;
}
.button {
  width: 150px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 200px;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(165,207,227);
  color: ghostwhite;
}

#light {
  background-color: #E7F6FC;
  color: #004369;
}
#med {
  background-color: #A5CFE3;
  color: #004369;
}
#dark {
  background-color: #004369;
  color: #E7F6FC;
}

#light:hover {
  background-color: #004369;
  color: #E7F6FC;
}
#med:hover {
  background-color: ghostwhite;
  color: #004369;
}
#dark:hover {
  background-color: #E7F6FC;
  color: #004369;
}

.right-column {
 
}

.carousel {
  cursor: grab;
  border-radius: 20px;
  max-width: 960px;
  height: 500px;
  overflow: hidden;
  margin-left: 600px;
  position: absolute;
  display: flex;
  align-items: center;


}
.innercarousel {
  display: flex;
/*  align-items: center;*/
 

}
.item {
  min-height: 350px;
  min-width: 350px;
  padding: 20px;
  text-align: center;

}
.item div {
    opacity: .6;
}
.item img {
  height: 350px;
  width: 350px;
  border: rgba(231,246,252) 3px solid;

  margin: 10px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 1.0);
  pointer-events: none;
}
.projecttitle {
  text-decoration: none;
  font-size: 1.1rem;
  color: ghostwhite;
}
.projecttitle:hover {
  color: rgba(165,207,227);
}
/*HOME END*/



/*CONTACT START*/

.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.contactpageleftside {
  margin-left: 200px;
  border-radius: 200px;
}
#video {
  width: 100%;
  height: 100%;
  overflow: hidden; 
}

.contactpagerightside {
  margin-left: 200px;
  margin-right: 150px;
}
.contactform {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}
.contactname {
  font-size: 1.5rem;
  color: #004369;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 1.0);
  display: flex;
  justify-content: center;
}
.contactname:hover {
  background-color: rgba(255, 255, 255, 1.0);
  color: black;
}
#black {
  color:black;
  margin: 0 10px;
}
.name {
  margin: 5px;
  border-radius: 10px;
}

.email {
  margin: 5px;
  border-radius: 10px;
}

.message {
  margin: 5px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
}
.submit {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #004369;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 1.0);
}
.submit:hover {
  background-color: black;
  color: ghostwhite;
}
/*CONTACT END*/



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

