.App {
 
  /*margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  width: 90%;
 */
  display: flex;
  border-radius: 20px;
  border: solid 2px #004369;
  box-shadow: inset 0px 0px 10px 8px rgba(255, 255, 255, 1.0);
/*  height: 100%;
  width: 100%;*/

/*  background-image: url(./rotate.gif);*/

  overflow: hidden;
  background-color: #f2f2f9;
  position: relative;
  top: 100px;
  left:100px;
  height: 700px;
  width: 1600px;

}

/*NAVIGATION START*/
.nav {
  display: flex;
  position: absolute;
  top: 5%;
  right: 25%;
  z-index: 2;
}
.nav div {

}
.active {
   border-bottom: #004369 1px solid;
}
#link {
  text-decoration: none;
  padding: 6px;
  margin: 6px;
  color: #004369;
  font-weight: bolder;
}
#link:hover {
  border-bottom: #004369 1px solid;
  color: rgba(165,207,227);
}
.donotshowroutes {
  display: none;
}

/*NAVIGATION END*/

/*HOME START*/

.home {
  position: absolute;
  display: flex;
  align-items: center;
  
}

.infocontainer {
  height: 600px;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background-color: #004369;
  z-index: 1;
  top: 45px;
  margin-left: 150px;
  border-radius: 20px;
  border: ghostwhite groove 5px;
  box-shadow: 0px 0px 30px 10px RGB(0,125,186);

}
.logo {
  max-height: 250px;
  max-width: 250px;
  min-width: 150px;
  min-width: 150px;
  margin-top: 50px;
}
.skillbubbles {
  display: flex;
  justify-content: center;
  color: ghostwhite;
}

.skillbubble {
 height: 30px;
 width: 100px;
 background-color: #E7F6FC;
 margin: 10px;
 padding-right: 5px;
 padding-left: 5px;
 border-radius: 200px;
 display: flex;
 justify-content: center;
 align-items: center;
 color: black;
 font-size: .8rem;
}
.button {
  width: 150px;
  height: 40px;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 60px;
  margin-right: 200px;
  text-decoration: none;
}
.button:hover {
  background-color: rgba(165,207,227);
  color: ghostwhite;
}

#light {
  background-color: #E7F6FC;
  color: #004369;
}
#med {
  background-color: #A5CFE3;
  color: #004369;
}
#dark {
  background-color: #004369;
  color: #E7F6FC;
}

#light:hover {
  background-color: #004369;
  color: #E7F6FC;
}
#med:hover {
  background-color: ghostwhite;
  color: #004369;
}
#dark:hover {
  background-color: #E7F6FC;
  color: #004369;
}

.right-column {
 
}

.carousel {
  cursor: grab;
  border-radius: 20px;
  max-width: 1000px;
  height: 600px;
  overflow: hidden;
  position: relative;
  top: 45px;
  display: flex;
  align-items: center;


}

.innercarousel {
  display: flex;
/*  align-items: center;*/
   background-color: #004369;
  box-shadow: 0px 0px 30px 10px RGB(0,125,186);
  border-top: ghostwhite groove 5px;
  border-bottom: ghostwhite groove 5px;
}
.item {
  min-height: 310px;
  min-width: 310px;
  padding: 20px;
  text-align: center;

}
.item div {
    opacity: .6;
}
.item img {
  height: 300px;
  width: 300px;
  border: rgba(231,246,252) 3px solid;

  margin: 10px;
  border-radius: 100px;
  box-shadow: 0px 0px 20px 5px rgba(255, 255, 255, 1.0);
  pointer-events: none;
}
.projecttitle {
  text-decoration: none;
  font-size: 1.1rem;
  color: ghostwhite;
}
.projecttitle:hover {
  color: rgba(165,207,227);
}

#info {
  position: absolute;
  padding: 2px;
  color: #004369;
  font-size: 2rem;
  font-weight: bolder;
  left: 1000px;
  bottom: -10px;
  border-radius: 20px;
  background-color: ghostwhite;
  box-shadow: 0px 0px 5px 5px RGB(0,125,186);
  border-top: ghostwhite solid 1px;

}
/*HOME END*/



/*CONTACT START*/

.contact {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.contactpageleftside {
  margin-left: 200px;
  border: ghostwhite double 5px;
  border-radius: 200px;
  overflow: hidden; 
  box-shadow: 0px 0px 30px 10px RGB(0,125,186);
}
#video {
  width: 100%;
  height: 100%;

}

.contactpagerightside {
  margin-left: 200px;
  margin-right: 150px;
}
.contactform {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 5px;
}
.contactname {
  font-size: 1.5rem;
  color: rgba(0,125,186);
  border:2px RGB(0,125,186) solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px RGB(0,125,186);
  display: flex;
  justify-content: center;
}
.contactname:hover {
  background-color: RGB(0,125,186);
  color: rgba(0,125,186);
}

#black {
  color:black;
  margin: 0 10px;
}
.name {
  margin: 5px;
  border-radius: 10px;
   border:1px RGB(0,125,186) solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px RGB(0,125,186);
}

.email {
  margin: 5px;
  border-radius: 10px;
  border:1px RGB(0,125,186) solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px RGB(0,125,186);
}

.message {
  margin: 5px;
  width: 350px;
  height: 350px;
  border-radius: 10px;
 border:1px RGB(0,125,186) solid;
  border-radius: 20px;
  box-shadow: 0px 0px 5px 3px RGB(0,125,186);
}
.submit {
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  color: #004369;
  border-radius: 20px;
  box-shadow: inset 0px 0px 5px 3px rgba(255, 255, 255, 1.0);
}
.submit:hover {
  background-color: RGB(0,125,186);
  color: ghostwhite;
}
.contactcalltoaction {
  font-weight: bolder;
  position: absolute;
  margin-left: 1000px;
  margin-right: auto;
  bottom: 100px;
}

/*CONTACT END*/

/*CONENT START*/
.content {
  display: flex;
  justify-content: center;
  align-items: center;

}
.contentpuzzle {
  position: relative;
 /* top: 150px;
  left: 200px;*/
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin-left: 200px;
}
.contentpuzzle div {
   border-radius: 20px;
}

.contentpuzzle img {
  height: 120px;
  width: 120px;
  background-size: cover;
   border-radius: 20px;
   cursor: pointer;

}
.imagebackground {
  background-color: black;
  height: 125px;
  width: 125px;
  box-shadow: 5px 5px 20px 10px rgba(0,125,186, .6);
}
.largeImage {
  margin-left: 350px;
   border-radius: 20px;
  box-shadow: 0px 0px 10px 10px RGB(0,125,186);
}
.largeImage img {
  height: 450px;
  width: 450px;
  border-radius: 20px;
}
.typewriter {
  position: absolute;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.6rem;
  word-wrap: break-word;
  width: 15px;
  left: 100px;

}
/*CONTENT END*/

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

