:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
font-family: 'Chakra Petch', sans-serif;

 

}
html,
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #1487bc55 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(225deg, #1487bc 25%, transparent 25%) -20px 0/ 40px 40px, linear-gradient(315deg, #1487bc55 25%, transparent 25%) 0px 0/ 40px 40px, linear-gradient(45deg, #1487bc 25%, #f2f2f9 25%) 0px 0/ 40px 40px;
  height: 100svh;
/*  background-image: url('./6.png');
  background-repeat: no-repeat;
  background-size: cover;*/
}

